name: DocFx Clone, Build And Push
on:
  push:
    branches:    
      - master   

jobs:   
  clone_build_and_push:
    runs-on: windows-latest
    name: Clone, Build And Push
    steps:
    - uses: actions/checkout@v1   

    - name: Clone
      run: git clone https://github.com/TheBoxyBear/charttools.git ../charttools
      shell: bash

    - name: Git Config email
      run: git config --global user.email "panda-sharp@github.com"
      shell: bash

    - name: Git Config name
      run: git config --global user.name "DocFx Bot"
      shell: bash

    - name: Git Config remote.origin.url
      run: git config --global remote.origin.url "https://github.com/TheBoxyBear/charttools.git"
      shell: bash
        
    - name: git remote add origin
      run: git remote add origin https://github.com/TheBoxyBear/charttools.git
      continue-on-error: true
      shell: bash

    - name: git fetch origin
      run: git fetch origin
      shell: bash

    - name: git checkout master
      run: git checkout master
      shell: bash

    - name: Docfx
      id: docfx
      run: ".github/scripts/docfx.bat"
      shell: bash

    - name: git subtree add
      run: git subtree add --prefix docs origin/gh-pages  
      continue-on-error: true
      shell: bash

    - name: Git Add docs
      run: git add docs/* -f
      shell: bash

    - name: Git Commit
      run: git commit -m "Docs"
      shell: bash

    # create a local gh-pages branch containing the splitted output folder
    - name: Git subtree
      run: git subtree split --prefix docs -b gh-pages 
      shell: bash

    # force the push of the gh-pages branch to the remote gh-pages branch at origin
    - name: Git Push
      run: git push -f https://github.com/TheBoxyBear/charttools.git gh-pages:gh-pages
      shell: bash    
